{% extends 'base.html' %}
{% load static %}

{% block page_loader %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container h-100">
    <div class="row h-100">
        <div class="col-8 offset-1 offset-md-0 my-auto mt-3">
            <!-- text for the reason people want to access the site -->
            <h1 class="display-6">We are here for all of your <em>Fast-Travel</em> needs!</h1>
            <div>
                <h4>
                    <a href="" class="browse-button btn btn-lg rounded-0 py-3 text-uppercase px-2">Browse Destinations</a>
                </h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}