asgiref==3.11.1
boto3==1.42.72
botocore==1.42.72
certifi==2026.2.25
charset-normalizer==3.4.6
coverage==7.13.5
crispy-bootstrap4==2026.2
defusedxml==0.7.1
dj-database-url==3.1.2
Django==6.0.3
django-allauth==65.15.0
django-countries==8.2.0
django-crispy-forms==2.6
django-storages==1.14.6
gunicorn==25.1.0
idna==3.11
jmespath==1.1.0
oauthlib==3.3.1
packaging==26.0
pillow==12.1.1
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
python3-openid==3.2.0
pytz==2026.1.post1
requests==2.32.5
requests-oauthlib==2.0.0
s3transfer==0.16.0
six==1.17.0
sqlparse==0.5.5
stripe==14.4.1
typing_extensions==4.15.0
urllib3==2.6.3
whitenoise==6.12.0
