{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr class="gold-band">
            <h2 class="text-gold mb-4 text-uppercase text-center">Your User Profile</h2>
            <hr class="gold-band">
        </div>
    </div>
</div>
{% endblock %}