{% extends 'base.html' %}
{% load static %}
{% load wallet_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col mb-5"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <h2 class="text-gold text-center text-uppercase px-5">Ticket Wallet</h2>
            <hr class="gold-band">
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if wallet_tickets %}
            <div class="table-responsive rounded-1 text-gold">
                <table class="table table-sm table-borderless">
                    <thead class="bg-gold text-darkblue">
                        <tr class="larger-text">
                            <th scope="col">Destination Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    {% for ticket in wallet_tickets %}
                    <tbody>
                        <tr>
                            <td class="p-3 w-25">
                                <img src="{{ ticket.destination.image.url }}" alt="{{ ticket.destination.name }}"
                                    class="img-fluid border-darkgold">
                            </td>
                            <td class="p-3">
                                <h4 class="my-0 text-gold"><strong>{{ ticket.destination.name }}</strong></h4>
                                {% if ticket.destination.district %}
                                <p class="mt-1 mb-0 text-lightblue">
                                    <i
                                        class="far fa-compass mx-1"></i>{{ ticket.destination.district.friendly_district_name }}
                                </p>
                                {% endif %}
                                <p class="mt-1 mb-0 text-lightblue">
                                    <i class="fas fa-map mx-1"></i>{{ ticket.destination.area.friendly_area_name }}
                                </p>
                            </td>
                            <td class="p-3">
                                <p class="my-0 larger-text text-gold"><strong>{{ ticket.destination.price }}
                                        gil</strong>
                                </p>
                            </td>
                            <td class="p-3">
                                <form action="{% url 'update_wallet' ticket.ticket_id %}" method="POST"
                                    class="form update-form">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group input-group-{{ ticket.ticket_id }} border-darkgold">
                                            <div class="input-group-prepend">
                                                <button
                                                    class="decrement-qty btn btn-sm btn-gold rounded-0 decrement-qty_{{ ticket.ticket_id }}"
                                                    data-ticket_id="{{ ticket.ticket_id }}">
                                                    <span>
                                                        <i class="fas fa-sm fa-minus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input
                                                class="form-control form-control-sm qty_input id_qty_{{ ticket.ticket_id }}"
                                                type="number" name="quantity" value="{{ ticket.quantity }}" min="1"
                                                max="99" data-ticket_id="{{ ticket.ticket_id }}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-sm btn-gold rounded-0 increment-qty_{{ ticket.ticket_id }}"
                                                    data-ticket_id="{{ ticket.ticket_id }}">
                                                    <span>
                                                        <i class="fas fa-sm fa-plus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <a class="update-link text-lightblue"><small>Update</small></a>
                                <a class="remove-ticket text-danger float-right"
                                    id="remove_{{ ticket.ticket_id }}"><small>Remove</small></a>
                            </td>
                            <td class="p-3">
                                <p class="my-0 larger-text text-gold"><strong>{{ ticket.destination.price | calc_subtotal:ticket.quantity }}
                                        gil</strong>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                    <tr>
                        <td class="pt-5 text-right" colspan="5">
                            <h4 class="text-gold"><strong>Wallet Total: <small>{{ total|floatformat:2 }} gil</small></strong></h4>
                            {% if discount %}
                            <h3 class="text-lightblue">Discount: {{ discount|floatformat:2 }} gil</h3>
                            {% endif %}
                            <h2 class="mt-4 text-gold"><strong class="text-uppercase">Grand Total: {{ grand_total|floatformat:2 }}</strong> gil</h2>
                            {% if discount_wallet_delta > 0 %}
                            <h6 class="mb-1 text-lightblue">
                                You can get 20% saving on your total by adding <strong>{{ discount_wallet_delta }}
                                    more</strong> tickets!
                            </h6>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right" colspan="5">
                            <a href="{% url 'destinations' %}" class="btn btn-lg btn-gold rounded-1">
                                <span class="icon">
                                    <i class="fas fa-chevron-circle-left"></i>
                                </span>
                                <span>Return to Destinations</span>
                            </a>
                            <a href="#" class="btn btn-lg btn-gold rounded-1">
                                <span>Head to Payments</span>
                                <span class="icon"><i class="fas fa-cash-register"></i></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="lead text-gold mb-5">You haven't chosen anywhere to go yet!</p>
            <a href="{% url 'destinations' %}" class="btn btn-gold rounded-1 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Returning to Destinations</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
 
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'destinations/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // update qty on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form[0].requestSubmit();
    })

    $('.remove-ticket').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var ticketId = $(this).attr('id').split('remove_')[1];
        var url = `remove/${ticketId}/`;
        var data = {
            "csrfmiddlewaretoken": csrfToken
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>

{% endblock %}