{% extends 'base.html' %}
{% load static %}
{% load wallet_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col mb-5"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <h2 class="text-gold text-center text-uppercase">Ticket Wallet</h2>
            <hr class="gold-band">
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if wallet_tickets %}
            <div class="d-block d-md-none">
                <div class="row">
                    <div class="col">
                        {% include "wallet/wallet_total.html" %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% include "wallet/checkout_buttons.html" %}
                        <p class="text-lightblue">Your ticket information is listed below</p>
                    </div>
                </div>
                {% for ticket in wallet_tickets %}
                <div class="row">
                    <div class="col-12 col-sm-6">
                        {% include "wallet/destination_image.html" %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 text-gold">
                        {% include "wallet/destination_info.html" %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 text-gold">
                        <p class="my-0">{{ ticket.destination.price }} gil x{{ ticket.quantity }}</p>
                        <p class="larget-text">Subtotal: {{ ticket.destination.price | calc_subtotal:ticket.quantity }} gil</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6">
                        {% include "wallet/quantity_form.html" %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <hr class="gold-band">
                    </div>
                </div>
                {% endfor %}
                <div class="btt-button shadow-sm rounded-1 btn-gold border-darkgold">
                    <a class="btt-link d-flex h-100">
                        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
                    </a>
                </div>
            </div>
            <div class="table-responsive rounded-1 text-gold d-none d-md-block">
                <table class="table table-sm table-borderless">
                    <thead class="bg-gold text-darkblue">
                        <tr class="larger-text">
                            <th scope="col">Destination Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>
                    {% for ticket in wallet_tickets %}
                    <tbody>
                        <tr>
                            <td class="p-3 w-25">
                                {% include "wallet/destination_image.html" %}
                            </td>
                            <td class="p-3">
                                {% include "wallet/destination_info.html" %}
                            </td>
                            <td class="p-3">
                                <p class="my-0 larger-text text-gold"><strong>{{ ticket.destination.price }}
                                        gil</strong>
                                </p>
                            </td>
                            <td class="p-3">
                                {% include "wallet/quantity_form.html" %}
                            </td>
                            <td class="p-3">
                                <p class="my-0 larger-text text-gold">
                                    <strong>{{ ticket.destination.price | calc_subtotal:ticket.quantity }}
                                        gil</strong>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                    <tr>
                        <td class="pt-5 text-right" colspan="5">
                            {% include "wallet/wallet_total.html" %}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right" colspan="5">
                            {% include "wallet/checkout_buttons.html" %}
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="lead text-gold mb-5">You haven't chosen anywhere to go yet!</p>
            <a href="{% url 'destinations' %}" class="btn btn-gold rounded-1 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Returning to Destinations</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'destinations/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // update qty on click
    $('.update-link').click(function (e) {
        var form = $(this).prev('.update-form');
        form[0].requestSubmit();
    })

    $('.remove-ticket').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var ticketId = $(this).attr('id').split('remove_')[1];
        var url = `remove/${ticketId}/`;
        var data = {
            "csrfmiddlewaretoken": csrfToken
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>

<script type="text/javascript">
    $('.btt-link').click(function () {
        window.scrollTo(0, 0)
    })
</script>

{% endblock %}