{% extends "base.html" %}
{% load static %}
{% load wallet_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="text-gold mb-4 text-uppercase text-center">Complete your purchase</h2>
            <hr class="gold-band">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6 order-lg-last mb-5">
            <p class="text-gold larger-text">Currently holding {{ ticket_count }} tickets in your wallet:</p>
            <div class="row">
                <div class="col-6 offset-3">
                    <p class="mb-1 mt-0 small text-lightblue">Ticket</p>
                </div>
                <div class="col-3 text-right">
                    <p class="mb-1 mt-0 small text-lightblue">Subtotal</p>
                </div>
            </div>
            {% for ticket in wallet_tickets %}
            <div class="row text-gold mb-2">
                <div class="col-3 mb-1">
                    <a href="{% url 'destination_detail' ticket.destination.id %}">
                        {% if ticket.destination.image %}
                        <img class="w-100 border-darkgold" src="{{ ticket.destination.image.url }}"
                            alt="{{ destination.name }}">
                        {% else %}
                        <img class="w-100 border-darkgold" src="{{ MEDIA_URL }}noimage2.png"
                            alt="{{ destination.name }}">
                        {% endif %}
                    </a>
                </div>
                <div class="col-6 text-gold">
                    <p class="my-0"><strong>{{ ticket.destination.name }}</strong></p>
                    {% if ticket.destination.district %}
                    <p class="my-0">located in {{ ticket.destination.district.friendly_district_name }} -
                        {% endif %}{{ ticket.destination.area.friendly_area_name }}</p>
                    <p class="my-0"></p>
                    <p class="my-0 small">Quantity: {{ ticket.quantity }}</p>
                </div>
                <div class="col-3 text-right text-gold">
                    <p class="my-0 small">${{ ticket.destination.price | calc_subtotal:ticket.quantity }}</p>
                </div>
            </div>
            {% endfor %}
            <hr class="gold-band">
            <div class="row text-gold text-right">
                <div class="col-7 offset-2">
                    <p class="my-0 small">Order Total:</p>
                    <p class="my-0">Discount:</p>
                    <p class="my-0 larger-text">Grand Total:</p>
                </div>
                <div class="col-3">
                    <p class="my-0 small">{{ total | floatformat:2 }} gil</p>
                    <p class="my-0">{{ discount | floatformat:2 }} gil</p>
                    <p class="my-0 larger-text"><strong>{{ grand_total | floatformat:2 }} gil</strong></p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 district-vr">
            <p class="text-gold larger-text">We need a few more peices of information to complete your purchase:</p>
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label small text-lightblue px-2 w-auto"> Customer Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                </fieldset>
                <fieldset class="rounded px-3 mb-5 text-black">
                    <legend class="fieldset-label small text-lightblue px-2 w-auto">Location Details</legend>
                    {{ order_form.phone_number | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    <div class="form-check form-check-inline float-right mr-0">
                        {% if user.is_authenticated %}
                        <label class="form-check-label text-gold" for="id-save-info">Save this delivery information to
                            my profile</label>
                        <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info"
                            checked>
                        {% else %}
                        <label class="form-check-label text-gold" for="id-save-info">
                            <a class="text-lightblue" href="{% url 'account_signup' %}">Create an account</a>
                            OR
                            <a class="text-lightblue" href="{% url 'account_login' %}">login</a>
                            to save this information
                        </label>
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset class="px-3">
                    <legend class="fieldset-label small text-gold px-2 w-auto">Payment</legend>
                    <div class="mb-3" id="card-element"></div>
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>

                <div class="submit-button text-right mt-5 mb-2">
                    <a href="{% url 'view_wallet' %}" class="btn btn-gold rounded-1">
                        <span class="icon">
                            <i class="fas fa-chevron-circle-left"></i>
                        </span>
                        <span>Adjust Wallet</span>
                    </a>
                    <button id="submit-button" class="btn btn-gold rounded-1">
                        <span>Complete Purchase</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>
                    <p class="small text-danger my-0">
                        <span class="icon">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        <span>Your are about to make a card payment for <strong>{{ grand_total|floatformat:2 }}
                                gil</strong>
                        </span>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="loading-overlay">
    <h1 class="text-darkblue larger-font loading-spinner">
        <span class="icon">
            <i class="fas fa-3x fa-circle-notch fa-spin"></i>
        </span>
    </h1>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}