@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;600;700&family=Courgette&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/aetheryte-crystal-bg.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px); /* height of menu */
    font-family: 'Caveat', sans-serif;
}

.bg-darkblue {
    background-color: rgb(0, 0, 80);
}

.bg-gold {
    background-color: gold;
}

/* Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    font-family: 'Courgette', sans-serif;
    color: gold;
    font-weight: 700;
    width: fit-content;
}

/* Button style */

.btn-dark {
    background-color: rgb(0, 0, 80);
    color: gold !important;
    text-decoration: none;
    font-family: 'Courgette', sans-serif;
}

.gold-nav {
    background-color: rgba(255, 215, 0, .8);
    color: rgb(0, 0, 80);
    border: 2px solid rgb(140, 120, 0);
}

.border-darkgold {
    border: 2px solid rgb(140, 120, 0);
}

/* text styles */

.text-gold {
    color: gold;
}

.text-darkblue {
    color: rgb(0, 0, 80);
}

.handwrite {
    font-family: 'Caveat', sans-serif;
    color: gold !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1000;
      }
  
      .header-container {
          padding-top: 164px;
      }
  }