@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Patrick+Hand&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/aetheryte-crystal-bg.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px); /* height of menu */
    font-family: 'Patrick Hand', sans-serif;
    overflow-x: hidden;
}

.bg-darkblue {
    background-color: rgb(0, 0, 80);
}

.bg-gold {
    background-color: gold;
}

.gold-band {
    padding-bottom: 3px;
    background-color: gold;
}

/* nav style section */

.nav-item {
    font-size: 1.3rem;
}

li.nav-item {
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    padding: 0 1.75rem;
}

.area-tab h5 {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid transparent;
    border-bottom: 4px solid rgb(65, 175, 255);
    padding: 2px;
    font-size: 1.5em;
}

.area-tab h5:hover, 
.area-tab h5:active, 
.area-tab h5:focus {
    text-decoration: none;
    color: gold !important;
    border: 4px solid rgb(65, 175, 255);
}

.sort-select-wrapper {
    text-align: right;
    padding-right: 10px;
}

.right-nav-icons {
    text-align: right;
    font-size: 1.2em;
}

/* Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    font-family: 'Courgette', sans-serif;
    color: gold;
    font-weight: 700;
    width: fit-content;
}

.header-text {
    font-family: 'Patrick Hand', sans-serif !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: rgb(0, 0, 80);
	z-index: -1;
}

/* Button style */

.btn-dark {
    background-color: rgb(0, 0, 80);
    color: gold !important;
    text-decoration: none;
    font-family: 'Courgette', sans-serif;
}

.btn-gold {
    background-color: gold;
    color: rgb(0, 0, 80) !important;
    text-decoration: none;
    font-family: 'Courgette', sans-serif;
}

.btt-button {
    text-decoration: none;
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;

}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.reset-btn {
    text-decoration: none;
    font-size: 1.3em;
    color: rgb(65, 175, 255);
}

.reset-btn:hover {
    color: rgb(65, 175, 255) !important;
}

.gold-nav {
    background-color: rgba(255, 215, 0, .75);
    color: rgb(0, 0, 80);
    border: 2px solid rgb(140, 120, 0);
}

.border-darkgold {
    border: 2px solid rgb(140, 120, 0);
}

.hotspot-link {
    font-size: 1.5em;
}

.district-vr {
    border-right: 2px solid rgb(140, 120, 0);
    font-size: 1.2em;
}

/* text styles */

.plain-text {
    text-decoration: none;
}

.text-gold {
    color: gold;
}

.desc-text {
    font-size: 1.3em;
}

.text-darkblue {
    color: rgb(0, 0, 80);
}

.text-lightblue {
    color: rgb(65, 175, 255);
}

input[name='q']::placeholder {
    color: darkblue;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1000;
      }
  
      .header-container {
          padding-top: 164px;
      }
  }

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 80px;
    }

    body {
        height: calc(100vh - 80px);
    }

    .nav-link {
        padding: 0.15rem;;
    }
}