@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Patrick+Hand&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/aetheryte-crystal-bg.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 172px); /* height of menu */
    font-family: 'Patrick Hand', sans-serif;
    overflow-x: hidden;
}

.bg-darkblue {
    background-color: rgb(0, 0, 80);
}

.bg-gold {
    background-color: gold;
}

.bg-lightblue {
    background-color: rgb(65, 175, 255);
}

.gold-band {
    padding-bottom: 3px;
    background-color: gold;
}

/* nav style section */

.nav-item {
    font-size: 1.3rem;
}

li.nav-item {
    border-left: 2px solid grey;
    border-right: 2px solid grey;
    padding: 0 1.25rem;
}

.area-list {
    align-items: center;
    text-align: center;
}

.area-tab h5 {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid transparent;
    border-bottom: 4px solid rgb(65, 175, 255);
    padding: 5px;
    font-size: 1.5em;
}

.area-tab h5:hover, 
.area-tab h5:active, 
.area-tab h5:focus {
    text-decoration: none;
    color: gold !important;
    border: 4px solid rgb(65, 175, 255);
    transition: border, .2s ease-in-out;
}

.sort-select-wrapper {
    text-align: right;
    padding-right: 10px;
}

/* Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    font-family: 'Courgette', sans-serif;
    color: gold;
    font-weight: 700;
    width: fit-content;
}

.header-text {
    font-family: 'Patrick Hand', sans-serif !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: rgb(0, 0, 80);
	z-index: -1;
}

/* Button style */

.btn-dark {
    background-color: rgb(0, 0, 80);
    color: gold !important;
    text-decoration: none;
    font-family: 'Courgette', sans-serif;
}

.btn-gold {
    background-color: gold;
    color: rgb(0, 0, 80) !important;
    text-decoration: none;
    font-family: 'Courgette', sans-serif;
}

.btn-white {
    background-color: white;
    position: relative;
    overflow: hidden;
}

.btn-white input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 8%;
    border-color: rgb(65, 175, 255);
}


.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: rgb(0, 0, 0);
    border-color: rgb(65, 175, 255);
    border-radius: 8%;
}

.btt-button {
    text-decoration: none;
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 4px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.btt-link,
.update-link,
.remove-ticket {
    cursor: pointer;
}

.reset-btn {
    text-decoration: none;
    font-size: 1.3em;
    color: rgb(65, 175, 255);
}

.reset-btn:hover {
    color: rgb(65, 175, 255) !important;
}

.gold-nav {
    background-color: rgba(255, 215, 0, .75);
    color: rgb(0, 0, 80);
    border: 2px solid rgb(140, 120, 0);
}

.border-darkgold {
    border: 2px solid rgb(140, 120, 0);
}

.hotspot-link {
    font-size: 1.3em;
}

.district-vr {
    border-right: 2px solid rgb(140, 120, 0);
}

/* text styles */

.text-right {
    text-align: right;
}

.float-right {
    align-items: right;
}

.plain-text {
    text-decoration: none;
}

.text-gold {
    color: gold;
}

.larger-text {
    font-size: 1.2em;
}

.text-darkblue {
    color: #000050;
}

.text-lightblue {
    color: rgb(65, 175, 255);
}

input[name='q']::placeholder {
    color: #000050;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

  /* Allauth form formatting */

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content input::placeholder {
    color: #979797;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1.5;
}

.allauth-form-inner-content a {
	color: rgb(65, 175, 255);
}

/* Custom image form style */

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 8px;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 8px;
}
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1000;
      }
  
      .header-container {
          padding-top: 164px;
      }
  }

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 80px;
    }

    body {
        height: calc(100vh - 80px);
    }

    .nav-link {
        padding: 0.15rem;;
    }
}

@media (min-width: 768px) {
    .text-md-right {
        text-align: right;
    }
}

@media (max-width: 576px) {
    .small-districts {
        text-align: center;
    }

    h5.area-list-a {
        font-size: .8rem;
    }
}

@media (max-width: 400px) {
    .area-name-small {
        font-size: 1rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #discount-banner h4 {
        font-size: .9rem;
    }
}