<div class="collapse navbar-collapse w-100" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="font-weight-bold nav-link mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5" href="#" id="all-destination-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Destinations <i class="fas fa-caret-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-destination-link">
                <a href="{% url 'destinations' %}?sort=name&direction=asc" class="dropdown-item">By Name</a>
                <a href="{% url 'destinations' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'destinations' %}?sort=area&directions=asc" class="dropdown-item ">By Area</a>
                <a href="{% url 'destinations' %}" class="dropdown-item">All Destinations</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'destinations' %}?hotspot=True">
                Check Hotspots!
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'areas' %}" class="font-weight-bold nav-link mr-5" id="area-link">Area List</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'districts' %}" class="font-weight-bold nav-link mr-5" id="district-link">District list</a>
        </li>
        {% if request.user.is_superuser %}
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5" href="#" id="content-admin-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin Management <i class="fas fa-caret-down"></i>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="content-admin-link">
                <a href="{% url 'add_area' %}" class="dropdown-item">Add Area</a>
                <a href="{% url 'add_district' %}" class="dropdown-item">Add District</a>
                <a href="{% url 'add_destination' %}" class="dropdown-item ">Add Destination</a>
            </div>
        </li>
        {% endif %}
    </ul>
</div>