<div class="collapse navbar-collapse w-100" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="font-weight-bold nav-link mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-5" href="#" id="all-destination-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Destinations
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-destination-link">
                <a href="{% url 'destinations' %}?sort=name&direction=asc" class="dropdown-item">By Name</a>
                <a href="{% url 'destinations' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'destinations' %}?sort=area&directions=asc" class="dropdown-item ">By Area</a>
                <a href="{% url 'destinations' %}" class="dropdown-item">All Destinations</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-gold" href="{% url 'destinations' %}?hotspot=True">
                Check Hotspots!
            </a>
        </li>
    </ul>
</div>