{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
    <hr class="gold-band">
    <h1 class="text-gold text-center">{% trans "Set Password" %}</h1>
    <hr class="gold-band">

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set text-gold">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-gold btn-lg mt-3" type="submit" name="action" value="{% trans 'Set Password' %}"/>
        <a href="{% url 'home' %}" class="btn btn-gold btn-lg rounded-1 mt-3">Go to Home <i
            class="fas fa-home"></i></a>
    </form>
{% endblock %}
