{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col mb-4"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="containter-fluid">
    <div class="row">
        <div class="col-12 text-center text-gold">
            <h1 class="display-3">All Areas</h1>
            <hr class="gold-band">
        </div>
        <div class="destination-container col-11 offset-1 col-lg-9 text-gold h-100 mx-auto">
            {% for area in areas %}
            <div class="row h-100 pb-3 mr-3">
                <div class="col-3 text-left mb-1">
                    <h3 class="area-name-small"><i class="fas fa-map mx-3"></i>{{ area.friendly_area_name }}</h3>
                    {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'edit_area' area.id %}">Edit</a> |
                        <a href="{% url 'delete_area' area.id %}" class="text-danger">Delete</a>
                    </small>
                    {% endif %}
                </div>
                <div class="col-8 offset-md-1 mb-1">
                    <p class="mb-1">{{ area.area_description }}</p>
                </div>

            </div>
            <hr class="gold-band text-center">
            {% endfor %}
        </div>
    </div>
</div>
<div class="btt-button shadow-sm rounded-1 btn-gold border-darkgold">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    $('.btt-link').click(function () {
        window.scrollTo(0, 0)
    })
</script>

{% endblock %}