{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col mb-2"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="containter-fluid">
    <div class="row">
        <div class="col-10 offset-1 col-lg-6 offset-lg-0 px-4">
            <div class="image-container border-darkgold my-4">
                {% if destination.image %}
                <a href="{{ dest.image.url }}">
                    <img class="card-img-top img-fluid" src="{{ destination.image.url }}" alt="{{ destination.name }}"
                        target="_blank">
                </a>
                {% else %}
                <a href="#">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage2.png" alt="{{ destination.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-lg-6 text-left text-gold px-4">
            <div class="product-details-container mb-2 mt-md-4">
                <h2 class="mb-0 display-6">{{ destination.name|upper }}</h2>
                <span>
                    {% if destination.hotspot %}
                    <button class="btn btn-primary w-25 h-100 px-0 rounded-1 text-right hotspot-link">
                        <a href="#" class="plain-text text-gold text-uppercase">
                            Hotspot <span class="badge badge-danger btn-dark"><i class="fas fa-exclamation"></i></span>
                        </a>
                    </button>
                    {% endif%}
                </span>
                {% if destination.district %}
                <span>
                    <h3 class="text-gold"><i class="far fa-compass mx-1"></i>
                        {{ destination.district.friendly_district_name }}
                    </h3>
                </span>
                {% endif %}
                <h3 class="text-gold">
                    <i class="fas fa-map mx-1"></i>
                    {{ destination.area.friendly_area_name }}
                </h3>
                <p class="text-gold desc-text">
                    {{ destination.description }}
                </p>
                <p class="mb-0 text-left text-gold font-weight-bold display-6">£{{ destination.price }}</p>
            </div>
            <div class="col-12">
                <h5><strong>Number of Tickets:</strong></h5>
                <div class="form-group w-50 mb-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="decrement-qty btn btn-gold rounded-1" data-item_id="{{ destination.id }}"
                                id="decrement-qty_{{ destination.id }}">
                                <span class="icon">
                                    <i class="fas fa-minus"></i>
                                </span>
                            </button>
                        </div>
                        <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99"
                            data-item_id="{{ destination.id }}" id="id_qty_{{ destination.id }}">
                        <div class="input-group-append">
                            <button class="increment-qty btn btn-gold rounded-0" data-item_id="{{ destination.id }}"
                                id="increment-qty_{{ destination.id }}">
                                <span class="icon">
                                    <i class="fas fa-plus"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}