{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col mb-4"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="containter-fluid">
    <div class="row">
        <div class="destination-container col-10 offset-1 text-gold px-0 h-100">
            <div class="text-center">
                <h1 class="display-3">All Districts</h1>
                <hr class="gold-band">
            </div>
            <div class="row mb-3">
                {% for d in districts %}
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 mb-1 small-districts">
                    <div class="card bg-transparent h-100 border-darkgold">
                        <div class="card-body pb-0">
                            <p class="text-gold larger-text plain-text mb-0">{{ d.friendly_district_name }}</p>
                        </div>
                        <div class="card-footer bg-transparent pt-0 border-0">
                            <div class="row">
                                <div class="col">
                                    <p class="text-gold small mt-1 mb-0">located in:</p>
                                    <p class="text-lightblue small mt-1 mb-0">
                                        <i class="fas fa-map mx-1"></i>{{ d.area.friendly_area_name }}
                                    </p>
                                </div>
                            </div>
                            {% if request.user.is_superuser %}
                            <small class="ml-3">
                                <a href="{% url 'edit_district' d.id %}">Edit</a> |
                                <a href="{% url 'delete_district' d.id %}" class="text-danger">Delete</a>
                            </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-2">
                    <hr class="gold-band text-center">
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-none mb-3">
                    <hr class="gold-band text-center">
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-md-block d-lg-none mb-3">
                    <hr class="gold-band text-center">
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-3">
                    <hr class="gold-band text-center">
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:6 %}
                <div class="col-12 d-none d-xl-block mb-3">
                    <hr class="gold-band text-center">
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="btt-button shadow-sm rounded-1 btn-gold border-darkgold">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function () {
        window.scrollTo(0, 0)
    })
</script>


{% endblock %}