{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- custom meta -->
    <meta name='description' content="Loreyna's Aetheryte Ticket Counter">
    <meta name='keywords'
        content='eorzea database eorzean map Ffxiv aetheryte ticket Ff14 area district loctions aetheryte plaza teleportation'>
    <meta name="author" content="Luke Munsch">

    <!-- favicon -->
    <link rel="icon" type="image/ico" href="{% static 'img/favicon.ico' %}" />
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">
    
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/5889d2f18a.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Loreyna's Ticket Counter {% block extra_title %}{% endblock %}</title>
</head>

<body>

    <header class="container-fluid fixed-top">
        <div id="topnav" class="row bg-darkblue pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h3 class="my-auto"><strong>Loreyna's</strong> <span class="disp-none">Ticket</span> Counter</h3>
                </a>
            </div>

            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center">
                <form action="{% url 'destinations' %}" method="GET">
                    <div class="input-group w-100">
                        <input type="text" class="form-control border rounded-0" name="q" placeholder="Search our Site">
                        <div class="input-group-append">
                            <button class="form-control btn border bg-gold rounded-0" type="submit">
                                <span class="icon"><i class="fas fa-search"></i></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-12 col-lg-4 my-auto px-5 py-1 py-lg-0 text-right">
                <ul class="list-inline list-unstyled my-0">
                    <li class="list-inline-item dropdown">
                        <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <div class="text-gold text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-lightblue font-weight-bold{% else %}text-gold{% endif %}"
                            href="{% url 'view_wallet' %}">
                            <div class="text-center plain-text">
                                <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                    {{ grand_total|floatformat:2 }} gil
                                    {% else %}
                                    0.00 gil
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-darkblue">
            <div>
                <nav class="navbar navbar-expand-lg navbar-dark w-100">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                        aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% include 'includes/mobile-top-header.html' %}
                    {% include 'includes/main-nav.html' %}
                </nav>
            </div>
        </div>
        <div id="discount-banner" class="row text-center">
            <div class="col bg-gold text-darkblue">
                <h4 class="my-1">Purchase <strong>{{ DISC_THRESHOLD }} or more</strong> tickets to earn
                    <strong>{{ DISC_PERC }}% off!</strong></h4>
            </div>
        </div>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level%}
        {% if level == 40 %}
        {% include 'includes/toasts/toast-error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast-warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast-success.html' %}
        {% else %}
        {% include 'includes/toasts/toast-info.html' %}
        {% endif %}

        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script>
        $('.toast').toast('show')
    </script>
    <script src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    <script>
        (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
            fnames[3] = 'ADDRESS';
            ftypes[3] = 'address';
            fnames[4] = 'PHONE';
            ftypes[4] = 'phone';
            fnames[5] = 'BIRTHDAY';
            ftypes[5] = 'birthday';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);
    </script>
    {% endblock %}
</body>

</html>