.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid rgb(140, 120, 0);
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 #fff;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #fff;
}

.StripeElement--webkit-autofill {
    background-color: #fff !important;
}

.stripe-style-input::placeholder {
    color: #979797;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(65, 175, 255, .85);
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}